*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: .5s;
    font-family: "pt-sans", sans-serif;
}
ul{
    display: flex;
}
.container{
    width: 80%;
    margin: auto;
}
:root {
    --maincolor: #7b5244;
    --subcolor: #333;
    --discription-color: #808080;
}
/* Navbar Start  */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 0rem;
}
.navbar nav a{
    color: var(--maincolor);
    font-weight: 600;
    margin-left:2rem;
    padding: .5rem; 
    position: relative;
}
.navbar nav a:before, .navbar nav a:after {
    content: "";
    position: absolute;
    border-style: solid;
    left: 0;
    top: 0;
    transition: transform 0.2s;
}
.navbar nav a:before {
    border-width: 0 2px;
    height: 100%;
    width: 95%;
    transform: scale3d(1, 0, 1);
}
.navbar nav a:after {
    border-width: 2px 0;
    height: 91%;
    width: 98%;
    transform: scale3d(0, 1, 1);
    transform-origin: left;
    transition-delay: .2s;
}
.navbar nav a:hover::before{
    transform: scale3d(1, 1, 1);
}
.navbar nav a:hover::after{
    transform: scale3d(1, 1, 1);
}
table{
    transform: scale(0);
    opacity: 0;
    width: 24rem;
    background-color: white;
    padding: 1rem .5rem;
    border: 2px solid var(--maincolor);
    position: absolute;
    top: 2rem;
    left: 0rem;
}
a:hover > table{
    transform: scale(1);
    opacity: 1;
}
table tr th {
    padding: 0rem 3rem .5rem 0rem;
    position: relative;
}
table tr th::after {
    content: "";
    height: 23px;
    width: 58px;
    border-bottom: 1px dotted var(--maincolor);
    position: absolute;
    left: 1rem;
}
table tr td {
    padding-top: .5rem;
    text-align: center;
}
.navbar .icons{
    display: flex;
}
.navbar .icons div{
    font-size: 1.8rem;
    margin-left: 1rem;
    cursor: pointer;
}
.navbar .icons div:hover{
    color: var(--maincolor);
}
.navbar .icons h3{
    margin: 1rem 0rem 0rem 1.2rem;
    position: relative;
}
.navbar .icons h3::after {
    content: '0';
    color: white;
    background: var(--maincolor);
    font-size: .9rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    position: absolute;
    top: 0rem;
    left: -1.4rem;
}
/* Navbar End  */
/* home start */
#home{
    display: flex;
    justify-content: space-evenly;
    height: 75vh;
    background: linear-gradient(#816e67,#b09687,#847169) ;
}
#home .home-con {
    margin-top: 13%;
}
#home .home-con h1{
    color: white;
    font-size: 4rem;
    width: 30rem;
    margin-bottom: 3rem;
}
#home .home-con button{
    padding: .5rem 1rem;
    color: black;
    font-weight: 600;
    cursor: pointer;
}
#home .home-con button:hover{
    background-color:#847169 ;
    color: white;
}
/* home End */
/* armoires start */
#armoires{
    height: 144vh;
    margin: 2rem;
}
#armoires .section-header , #Featured .section-header{
    text-align: center;
    position: relative;
}
#armoires .section-header h1 , #Featured .section-header h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
#armoires .section-header .line , #Featured .section-header .line{
    display: block;
    width: 100px;
    margin: 1rem auto;
    height: 2px;
    background-color: var(--maincolor);
    transition: 1s;
}

#armoires .section-header:hover > .line , #Featured .section-header:hover > .line{
    padding-left: 5rem;
    padding-right: 5rem;
}
#armoires .list ul{
    margin: 2rem 0rem 0rem -2.5rem;
}
#armoires .list ul li{
    margin-left: 1rem;
}
#armoires .list ul li img{
    height: 18rem;
    width: 18rem;
}
#armoires .list ul li h4{
    margin: 1.8rem 0rem 0rem 0rem;
    color: var(--discription-color);
    font-weight: 500;
}
#armoires .list ul li .more{
    display: flex;
    justify-content: space-between;
}
#armoires .list ul li .more p {
    display: none;
    color: white;
    background-color: brown;
    padding: 0rem .5rem;
    margin-top: -1rem;
    font-size: 2rem;
    cursor: pointer;
}
#armoires .list ul li:hover > .more p{
    display: block;
}
.discount{
    display: flex;
    padding-bottom: 2rem;
    margin-left: -1.5rem;
}
.discount .discount-desc{
    margin-top: 2rem;
    padding: 1rem;
    background-color: #f7f3ef;
}
.discount .discount-desc .top{
    display: flex;
}
.discount .discount-desc .bottom{
    margin-top: 1.5rem;
    line-height: 1.8rem;
}
.discount .discount-desc .lines {
    display: flex;
    justify-content: end;
    margin-top: 3rem;
}
.discount .discount-desc .lines span{
    height: 2px;
    width: 3rem;
    background-color: var(--maincolor);
    margin-left: 1rem
}
.discount .discount-desc .top .icons div{
    margin: 1rem .5rem 0rem 0rem;
    font-size: 3.5rem;
    color: var(--maincolor);
}
.discount .discount-post1 , .discount .discount-post2{
    height: 19rem;
    width: 70rem;
    margin: 2rem 0rem 0rem 1.2rem;
}
.discount .discount-post1{
    background: url(img/cms-banner-1.jpg);
    background-size: cover;
}
.discount .discount-post2{
    background: url(img/cms-banner-2.jpg);
    background-size: cover;
}
.discount .discount-post1 p , .discount .discount-post2 p{
    margin: 1.5rem 0rem 0rem 1rem;
    font-size: 1.3rem;
    color: var(--maincolor);
}
.discount .discount-post1 h3 , .discount .discount-post2 h3{
    margin-left: 1rem;
    font-weight: 700;
}
.discount .discount-post1:hover , .discount .discount-post2:hover{
    transform: scale(1.1);
}
#armoires .info .list ul{
    margin-left: -3rem;
}
#armoires .info .list ul li{
    text-align: center;
    margin-left: 3rem;
    position: relative;
    padding-bottom: 2rem;
}
#armoires .info .list ul .last-list ::after{
    width: 0rem;
    height: 0rem;
}
#armoires .info .list ul li ::after{
    content: "";
    background-color: var(--discription-color);
    height: 6rem;
    width: 1px;
    position: absolute;
    top: 0rem;
    right: -1.5rem;
}
#armoires .info .list ul li .icon{
    background-image: url(img/service-icon.png);
    background-position: center -45rem;
    background-repeat: no-repeat;
    height: 5rem;
    width: 9.5rem;
    margin-left: 1.2rem;
}
#armoires .info .list ul li .icon-1{
    background-position: center 1rem;
}
#armoires .info .list ul li .icon-1:hover{
    background-position: center -4.5rem;
}
#armoires .info .list ul li .icon-2{
    background-position: center -10.5rem;
}
#armoires .info .list ul li .icon-2:hover{
    background-position: center -16.5rem;
}
#armoires .info .list ul li .icon-3{
    background-position: center -11rem;
}
#armoires .info .list ul li .icon-3:hover{
    background-position: center -17rem;
}
#armoires .info .list ul li .icon-3{
    background-position: center -22rem;
}
#armoires .info .list ul li .icon-3:hover{
    background-position: center -28rem;
}
#armoires .info .list ul li .icon-4{
    background-position: center -33.5rem;
}
#armoires .info .list ul li .icon-4:hover{
    background-position: center -39.5rem;
}
#armoires .info .list ul li .icon-5:hover{
    background-position: center -51rem;
}
#armoires .info .list ul li .sprite-info h3{
    margin-bottom: .2rem;
}
#armoires .info .list ul li .sprite-info span{
    color: var(--discription-color);
}
.lineeee{
    padding-bottom:22rem ;
}
/* armoires end */
#Featured{
    height: 100vh;
}
#Featured nav{
    display: flex;
    justify-content: center;
    margin-left: -2.5rem;
}
#Featured nav p {
    margin: 2rem 0rem 0rem 2.5rem;
    cursor: pointer;
}
#Featured nav p:hover{
    color: var(--maincolor);
}
#Featured .chairs ul{
    flex-wrap: wrap;
}
#Featured .chairs ul li {
    margin: 2rem 0rem 0rem 1rem;
}
#Featured .chairs ul li .chair-img{
    position: relative;
}
#Featured .chairs ul li .chair-img .over-img {
    position: absolute;
    top: 0rem;
    left: 0rem;
    opacity: .9;
    transform: rotateY(90deg);
    transition: .3s;
}
#Featured .chairs ul li .chair-img .over-img .contact{
    display: flex;
    position: absolute;
    top: 45%;
    left: 27%;
    opacity: 1;
}
#Featured .chairs ul li .chair-img .over-img .contact div{
    font-size: 2.5rem;
    color: var(--maincolor);
    margin-left: .5rem;
    cursor: pointer;
}
#Featured .chairs ul li .chair-img .over-img .contact div:hover{
    color: #583b31;
    opacity: 1;
}
#Featured .chairs ul li .chair-img:hover > .over-img {
    transform: rotateY(0deg);
}
#Featured .chairs ul li .stars{
    margin: .5rem 0rem;
}
#Featured .chairs ul li p{
    margin-bottom: .3rem;
}
#Featured .chairs ul li .stars div{
    color: #ff0;
}